.maindiv {
    padding: 4vmax;
    overflow: hidden;
    .setdiv {
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-image: url("https://assets.nicepagecdn.com/11a8ddce/4460241/images/apartment-building-city-with-copy-space.jpg");
      font-family: Ubuntu, sans-serif;
      height: 80vmin;
      padding-left: 3vw;
      background-size: cover;
      background-position: center;
      border-radius: 4vmax;
     
      h1 {
        font-weight: 400;
        font-size: 4vmax;
        display: grid;
        grid-template-columns: 1fr 1fr;
      }
  
      p {
        font-size: 1.5vw;
      }
      .ant-row{
        .ant-btn{
          background-color: red !important;
          color: red !important;
        }
      }
    }
  }


.buttonCol {
  width: 100pc;
}


.icons{
  display: flex;
  flex-direction: column;
  gap: 20px;
  svg{
    width: 100px;
    height: 100px;
    border-radius: 50pc;
    color: rgb(255, 255, 255);
    background-color: #c3bff8;
    // fill: #c3bff8;
    padding: 15px;
  }
}

// .box1{
//   background-image: url("https://assets.nicepagecdn.com/11a8ddce/4460241/images/hand-holding-house-real-estate-property-model.jpg");
//   background-size: cover;
//   background-position: center;
//   width: 100%;
//   height: 70vh;
// }

.card-container {
  transition: opacity 0.5s ease-in-out;
  opacity: 1;
}

.card-container.hidden {
  opacity: 0;
  pointer-events: none; /* Disable interactions on hidden cards */
}
